<div class="toolbar">
    {% comment %}<div class="filter-show btn-group">
      <label>הצג</label>
      <button class="btn btn-2 dropdown-toggle" data-toggle="dropdown">
        <i class="icon-exchange"></i>
        {% if paginate.page_size != 50 %}
        <span>{{paginate.page_size}}</span>
        {% else %}
        <span>all</span>
        {% endif %}
        <i class="icon-chevron-down"></i>
      </button>
      
      <ul class="dropdown-menu" role="menu">
        {% if settings.collection_results_per_page != blank %}
        {% assign product_per_page = settings.collection_results_per_page %}
        {% else %}
        {% assign product_per_page = 12 %}
        {% endif %}
        {% assign current_page_size = paginate.page_size %}
        <li {% if current_page_size == 12 %} class="active" {% endif %}><a href="{{ product_per_page }}">{{ product_per_page }}</a></li>
       	<li {% if current_page_size == 16 %} class="active" {% endif %} ><a href="16">16</a></li>
       	<li {% if current_page_size == 32 %} class="active" {% endif %}><a href="32">32</a></li>
       	<li {% if current_page_size == 50 %} class="active" {% endif %}><a href="all">all</a></li>         
      </ul>
    </div>{% endcomment %}
    
    <div class="filter-sortby btn-group">
      <label class="hidden" for="sort-by">סינון</label> 
      <button class="btn btn-2 dropdown-toggle" data-toggle="dropdown">
        <i class="icon-exchange"></i>
        <span>מומלצים</span>
        <i class="icon-chevron-down"></i>
      </button>
      
      <ul class="dropdown-menu" role="menu">
        <li><a href="created-descending">מהחדש לישן</a></li>
        <li><a href="created-ascending">מהישן לחדש</a></li>
        <li><a href="price-ascending">מחיר: מהנמוך לגבוה</a></li>
        <li><a href="price-descending">מחיר: מהגבוה לנמוך</a></li>
        <li><a href="title-ascending">א-ת</a></li>
        <li><a href="title-descending">ת-א</a></li>

        {% comment %}<li><a href="manual">>מומלצים</</a></li>
        <li><a href="best-selling">המוכרים ביותר</a></li>{% endcomment %}
      </ul>
    </div>    

    <div class="view-mode">
      <!--<span class="grid" title="Grid view">Grid</span>-->
      <a class="list" href="list" title="List view">List</a>  
      <a class="grid active" href="grid" title="Grid view">Grid</a>  
      <label class="hidden">תצוגה</label>
    </div>

</div>