{% include 'breadcrumb' %}

{% if settings.collection_results_per_page != blank %}
  {% assign product_per_page = settings.collection_results_per_page %}
{% else %}
  {% assign product_per_page = 8 %}
{% endif %}

<div class="row">
  {% include 'collection-sidebar' %}
  <div class="block-row col-xs-9 col-main">  
    <div class="inner-breadcrumb">
      {% include 'breadcrumb' %}  
    </div>
    {% include 'toolbar' %}
    {% paginate collection.products by product_per_page %}
     <header class="page-header">
      <h2>{{ collection.title }}</h2>
      {% if collection.description != ''  %}
      <h4 class="rte">
        {{ collection.description }}
      </h4>
      {% endif %}
      <div class="img_cart">
      {% if settings.display_image_cat %}
        {{ 'img_cat.jpg' | asset_url | img_tag }}
      {% endif %}
      </div>
    </header>

    {% comment %}
      Use .grid--rev so that the collection tags appear below the products on mobile
    {% endcomment %}
    
    {% comment %}{% include 'toolbar' %}{% endcomment %}
    
    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    
    <div class="products-grid">
      {% if collection.products.size > 0 %}      
      {% paginate collection.products by product_per_page %}  
      {% for product in collection.products %}
      {% include 'product-grid-item-category' %}
      {% endfor %}
      {% endpaginate %}
      {% else %}
      <p style="text-align: center;">לא נותרו מוצרים זמינים בקולקציה הזאת.<br>
אנחנו מעדכנים את הקולקציות שלנו באופן קבוע... <strong>כדי להישאר מעודכנים!</strong></p>
      {% endif %}
    </div>
    
    {% if paginate.pages > 1 %}
    <div class="padding">
      {% include 'pagination-page' %}
    </div>
    {% endif %}
    
    {% endpaginate %}    
  </div>
</div>

{% if settings.display_recently_viewed_products %} 
{% include 'recently-viewed-products' %}
{% endif %}